<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',
        filename='bootstrap.css')}}"
</head>
<body>
	<div class='container'>
		<div class='row'>
			<div class='col-md-6'>
            <h2>Restaurnts</h2>
            </div>
            <div class='col-md-6'>
				 <a href="{{url_for('gdisconnect')}}">
				<h2 class='text-right'>Sign out</h2>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
			<a href="{{url_for('newRestaurant')}}">
                <h4>Add new Restaurant</h4>
            </a>
            </div>
        </div>
			{% for i in restaurants %}
			<div class='row'>
				<div class='col-md-10'>
			<a href = "{{url_for('showMenu', restaurant_id = i.id)}}">
			{{i.name}}
			</a>
			<br>
			<a href="{{url_for('editRestaurant', restaurant_id = i.id)}}">edit</a>
			<a href="{{url_for('deleteRestaurant', restaurant_id = i.id)}}">delete</a>
			<br><br>
			</div>
			</div>
			{% endfor %}
	</div>
</body>
</html>